/**
 * Helper functions
 */

@function pxToEm($px, $ref: $sizeFontBase) {
	@return toEm(toPx($px) / toPx($ref));
}
@function pxToRem($px) {
	@return toRem(toPx($px) / toPx($sizeFontBase));
}
@function pxToPc($px, $ref: $sizeWidthContent) {
	@return (toPx($px) / toPx($ref) * 100%);
}
@function toEm($val) {
	@return ($val + 0em);
}
@function toRem($val) {
	@return ($val + 0rem);
}
@function toPx($val) {
	@return ($val + 0px);
}
