/**
 * Default variables
 */

$sizeFontBase: 12px;
$fontFamilyBase: Arial, sans-serif;
$sizeLineHeightBase: 1.5;

$sizeWidthContent: 960px;

$sizeBreakpointSmall: 661px;
$sizeBreakpointMedium: 1025px;
$sizeBreakpointLarge: 1281px;


/**
 * Custom colors
 */

$colorText: #000000;
$colorBg: #ffffff;
$colorActive: #a4c400;
