/**
 * Default variables
 */

$sizeFontBase: 12px;
$fontFamilyBase: Helvetica, Arial, sans-serif;
$sizeLineHeightBase: 1.5;

$sizeWidthContent: 960px;

$sizeBreakpointSmall: 661px;
$sizeBreakpointMedium: 1025px;
$sizeBreakpointLarge: 1281px;


/**
 * Custom colors
 */

$colorText: #000000;
$colorBg: #ffffff;
$colorActive: #a4c400;


/**
 * Typography
 */

$sizeFont1: 60px;
$sizeFont2: 40px;
$sizeFont3: 25px;
$sizeFont4: 20px;
$sizeFont5: 15px;
$sizeFont6: 12px;
