$colorWhite: #ffffff;
$colorUnicGreen: #A4C400;

$colorBarleyCorn: #A19F57;
$colorYellowMetal: #746938;
$colorHorizon: #5A8FA0;
$colorRust: #A6643A;

$colorHaze: #E7E8E8;
$colorBombay: #B0B0B1;
$colorGray: #8A8A8A;
$colorDarkGray: #626262;
$colorBlack: #000000;
