/**
 * Map containing all icons with their dimensions and color variants
 *
 * Can be accessed using map-get (see iconDataurlStyles( mixin)
 */

$iconsDataurls: (
	{% for name, icon in icons %}"{{ name }}": (
		"dimensions": (
			"x": {{ icon.dimensions.x }},
			"y": {{ icon.dimensions.y }}
		),
		"urls": (
			{% for key, url in icon.urls %}"{{ key }}": (
				"svg": "{{ url.svg }}",
				"svgInline": "url({{ url.svg }})",
				"png": "{{ url.png }}",
				"pngInline": "url({{ url.png }})"
			),
			{% endfor %}
		)
	),
	{% endfor %}
);


/**
 * Mixins
 *
 * iconDataurl() renders an icon into the :before/:after pseudo element
 *
 * iconDataurlStyles() renders the main styles
 * It is used by iconDataurl()
 */

@mixin iconDataurl($name, $color: "primary", $after: false) {
	$selector: "before";

	@if $after == true {
		$selector: "after";
	}

	&:#{$selector} {
		@include iconDataurlStyles($name, $color);

		content: "";
		display: inline-block;
	}
}

@mixin iconDataurlStyles($name, $color: "primary", $skipDimensions: false, $skipFallback: false) {
	$icon: map-get($iconsDataurls, $name);

	@if $icon == null {
		@error "No icon '#{$name}' found";
	}

	$dimensions: map-get($icon, "dimensions");
	$urls: map-get($icon, "urls");
	$urls: map-get($urls, $color);

	@if $urls == null {
		@error "No color '#{$color}' of icon '#{$name}' found";
	}

	background-image: unquote(map-get($urls, "svgInline"));
	background-repeat: no-repeat;
	background-size: contain;

	@if $skipDimensions != true {
		height: pxToEm(map-get($dimensions, "y"));
		width: pxToEm(map-get($dimensions, "x"));
	}

	@if $skipFallback != true {
		.no-svg & {
			background-image: url(map-get($urls, "png"));
		}
	}
}
