@font-face {
	font-family: "{{options.fontName}}";
	src: url('{{options.fontPath}}{{options.fontName}}.eot');
	src: url('{{options.fontPath}}{{options.fontName}}.eot?#iefix') format('eot'),
		url('{{options.fontPath}}{{options.fontName}}.woff') format('woff'),
		url('{{options.fontPath}}{{options.fontName}}.ttf') format('truetype'),
		url('{{options.fontPath}}{{options.fontName}}.svg#{{options.fontName}}') format('svg');
}

%icon {
	font-family: "{{options.fontName}}";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function icon-char($filename) {
	$char: "";
	{{#codepoints}}
	@if $filename == {{name}} {
		$char: "\\{{codepoint}}";
	}
	{{/codepoints}}

	@return $char;
}

@mixin icon($filename) {
	&:before {
		@extend %icon;
		content: icon-char($filename);
	}
}

{{#codepoints}}.icon-{{name}} {
	@include icon({{name}});
}
{{/codepoints}}
