<div class="mod_imageversions" data-init="test">
	<ul>
		<li>
			<h3>Original image (750x750)</h3>
			<img src="media/george.jpg" alt="Original George" />
		</li>
		<li>
			<h3>Scaled down to 150x50 with default (image center) focus point</h3>
			<img src="media/george_100x50.jpg" alt="Small centered George" />
			</li>
		<li>
			<h3>Scaled down to 150x50 with (750,750) focus point</h3>
			<img src="media/george_100x50_750,750.jpg" alt="Scaled down George's paws" />
			</li>
		<li>
			<h3>Scaled up to 800x400 with default (image center) focus point</h3>
			<img src="media/george_800x400.jpg" alt="Large centered George" />
			</li>
		<li>
			<h3>Scaled up to 800x400 with (750,750) focus point</h3>
			<img src="media/george_800x400_750,750.jpg" alt="Enlarged George's paws" /></li>
	</ul>
</div>
