body {
	background: $colorBg;
	color: $colorText;
	font-family: $fontFamilyBase;
	font-size: $sizeFontBase / 16px * 100%;
	line-height: $sizeLineHeightBase;
}

nav {

	ul,
	ol {
		@include resetList;
	}
}

.layout_wrapper {
	margin: 0 auto;
	width: pxToEm($sizeWidthContent);
}
