@import "../.tmp/colors";
@import "globals/variables";
@import "globals/functions";
@import "globals/mixins";
@import "globals/mediaqueries";


// Reset / normalize styles
@import "../../../node_modules/normalize.css/normalize";

// Icons (as font or dataurl), PNG sprites
@import "../.tmp/iconfont";
@import "../.tmp/dataurls";
@import "../.tmp/pngsprite";

// General styles
@import "mediaqueries_sync";
@import "globals/classes";

// General layout
@import "layout";

// Modules
@import "../../demo/modules/media/media";
@import "../../demo/modules/teaser/teaser";
@import "../../demo/modules/teasers/teasers";
@import "../../demo/modules/skiplinks/skiplinks";
@import "../../demo/modules/slideshow/slideshow";
@import "../../demo/modules/imageversions/imageversions";
//*autoinsertmodule*

@media print {
	@import "print";
}
