html,
body {
	height: 100%;
}

.sg_wrapper {
	height: 100%;
}

.sg_nav {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 20%;
	padding: 2em 1em;
	border-right: 1px solid rgb(225,225,225);

	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	a {
		display: block;
		padding: .2em 0;
		text-decoration: none;
		color: grey;

		&:hover {
			color: black;
		}
	}

	ul {
		padding: 1em 0;
	}
}

.sg_main {
	border: none;
	height: 100%;
	margin-left: 20%;
	padding: 2em;
	width: 80%
}

.sg_title {
	font-weight: 400;
	margin-top: 0;
}

%sg_sub_headings {
	font-weight: 400;
	margin-top: 2em;
}
.sg_h2 {
	@extend %sg_sub_headings;
	border-bottom: 1px solid rgba(#000,.2);
}
.sg_h3 {
	@extend %sg_sub_headings;
}
.sg_h4 {
	@extend %sg_sub_headings;
}

.sg_block {
	border-top: 1px solid rgb(225,225,225);
	padding: .4em 0 2em;
}

.sg_block_label {
	font-weight: 700;
	font-size: 12px;
}

/* Icons */
.sg_icons_label,
.sg_icons_icon {
	display: table-cell;
	border-top: 1px solid rgb(225,225,225);
	border-left: 1px solid rgb(225,225,225);
	vertical-align: top;
	padding: .5em;
}

.sg_icons_icon {
	width: 20%;
}
.sg_icons_icon:last-of-type {
	border-right: 1px solid rgb(225,225,225);
}

.sg_icons {
	display: table;
	width: 100%;

	border-bottom: 1px solid rgb(225,225,225);
}

.sg_icons_item {
	display: table-row;
}

.sg_inner_wrapper {
}


// Colors
// ----------------------------------------------------------------------------------------------------

.sg_color_list {
	list-style-type: none;
}

.sg_color_item {
	margin: 0 3em 2em 0;
	width: 7em;
	float: left;
	text-align: center;
}

.sg_color_preview {
	width: 5em;
	height: 5em;
	margin: 0 auto;
	border-radius: 50%;
}

.sg_color_name {
	padding-top: .8em;
	font-weight: bold;
}

.sg_color_value {
}
