<section class="sg__content">
	<h3 class="sg__content__section_title">Address</h3>
	<div class="sg__demo">
		<address>
			Company Name, Inc.<br>
			811 7th Ave, Suite 700<br>
			Manhattan, NY 10019<br>
			USA
		</address>
	</div>
</section>
