<section class="sg_inner_wrapper">
	<h2 class="sg_h2">Address</h2>
	<div class="sg_demo">
		<address>
			Company Name, Inc.<br>
			811 7th Ave, Suite 700<br>
			Manhattan, NY 10019<br>
			USA
		</address>
	</div>
</section>
