<section class="sg__content">
	<h3 class="sg__content__section_title">Blockquote</h3>
	<div class="sg__demo">
		<blockquote>
			<p>Some sort of famous witty quote marked up with a &lt;blockquote> and a child &lt;p> element.</p>
		</blockquote>
		<blockquote>Even better philosophical quote marked up with just a &lt;blockquote> element.</blockquote>
	</div>
</section>
