<section class="sg_inner_wrapper">
	<h2 class="sg_h2">Blockquote</h2>
	<div class="sg_demo">
		<blockquote>
			<p>Some sort of famous witty quote marked up with a &lt;blockquote> and a child &lt;p> element.</p>
		</blockquote>
		<blockquote>Even better philosophical quote marked up with just a &lt;blockquote> element.</blockquote>
	</div>
</section>
