<section class="sg_inner_wrapper">
	<h2 class="sg_h2">Figure</h2>
	<div class="sg_demo">
		<figure>
			<img src="http://placehold.it/240x240" alt="Image Alt Text">
			<figcaption>Figcaption content</figcaption>
		</figure>
		<figure>
			<img src="http://placehold.it/240x240" alt="Image Alt Text">
			<figcaption>
				<h4>Figure Title</h4>
				Figcaption content
			</figcaption>
		</figure>
	</div>
</section>
