<section class="sg_inner_wrapper">
	<h2 class="sg_h2">Lists</h2>
	<div class="sg_demo">
		<div class="sg_subsection">
			<h3 class="sg_h3">Definition List</h3>
			<dl>
				<dt>Description name</dt>
				<dd>Description value</dd>
				<dt>Description name</dt>
				<dd>Description value</dd>
				<dd>Description value</dd>
				<dt>Description name</dt>
				<dt>Description name</dt>
				<dd>Description value</dd>
			</dl>
		</div>

		<div class="sg_subsection">
			<h3 class="sg_h3">Ordered List</h3>
			<ol>
				<li>list item 1</li>
				<li>list item 1
					<ol>
						<li>list item 2</li>
						<li>list item 2
							<ol>
								<li>list item 3</li>
								<li>list item 3</li>
							</ol>
						</li>
						<li>list item 2</li>
						<li>list item 2</li>
					</ol>
				</li>
				<li>list item 1</li>
				<li>list item 1</li>
			</ol>
		</div>

		<div class="sg_subsection">
			<h3 class="sg_h3">Unordered List</h3>
			<ul>
				<li>list item 1</li>
				<li>list item 1
					<ul>
						<li>list item 2</li>
						<li>list item 2
							<ul>
								<li>list item 3</li>
								<li>list item 3</li>
							</ul>
						</li>
						<li>list item 2</li>
						<li>list item 2</li>
					</ul>
				</li>
				<li>list item 1</li>
				<li>list item 1</li>
			</ul>
		</div>
	</div>
</section>
