<div class="mod_skiplinks">
	<ul>
		{% for bla in links %}
			<li>
				<a href="{{this.href}}" accesskey="{{this.accesskey}}" title="{{this.title}}">
					{{this.label}}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
