<div class="mod_media">
	<h3>Icon font</h3>
	<span class="media_icon_font">Icon</span>

	<h3>Data URL</h3>
	<span class="media_icon_dataurl">Icon</span>

	<h3>PNG sprite</h3>
	<span class="media_pngsprite">Icon</span>
</div>
