{{#extend "styleguide/layouts/section"}}
	{{#replace "content"}}

		<ul class="sg_color_list">
			<li class="sg_color_item">
				<div class="sg_color_preview" style="background-color: #9c1328"></div>
				<div class="sg_color_name">$colorRed</div>
				<div class="sg_color_value">#9c1328</div>
			</li>

			<li class="sg_color_item">
				<div class="sg_color_preview" style="background-color: #480f15"></div>
				<div class="sg_color_name">$colorBordeaux</div>
				<div class="sg_color_value">#480f15</div>
			</li>

			<li class="sg_color_item">
				<div class="sg_color_preview" style="background-color: #7f274d"></div>
				<div class="sg_color_name">$colorPurple</div>
				<div class="sg_color_value">#7f274d</div>
			</li>

			<li class="sg_color_item">
				<div class="sg_color_preview" style="background-color: #00609f"></div>
				<div class="sg_color_name">$colorBlue</div>
				<div class="sg_color_value">#00609f</div>
			</li>

			<li class="sg_color_item">
				<div class="sg_color_preview" style="background-color: #3c642b"></div>
				<div class="sg_color_name">$colorGreen</div>
				<div class="sg_color_value">#3c642b</div>
			</li>
		</ul>

	{{/replace}}
{{/extend}}
