.mod_teasers {
	display: flex;

	.no-flexbox.no-flexboxlegacy.no-flexboxtweener & {
		@include clearfix;

		.mod_teaser { // stylelint-disable-line selector-max-specificity
			float: left;
			width: 25%;
		}
	}
}
