<!doctype html>
<!--[if IE 7]>         <html class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Boilerplate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="assets/css/main.css">

	<script src="assets/js/head.js"></script>
</head>
<body>
	{{#block "content"}}
		hello
	{{/block}}

	<script src="assets/js/templates.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>
