{{#extend "layouts/layout"}}
	{{#content "content"}}
		<div class="layout_columns">
			<main class="layout_main" role="main">
				{{#block "main"}}
				{{/block}}
			</main>

			<aside class="layout_sidebar" role="complementary">
				{{#block "sidebar"}}
				{{/block}}
			</aside>
		</div>
	{{/content}}
{{/extend}}
