.slideshow {
	height: 1em;
	overflow: hidden;
	position: relative;

	div {
		height: 100%;

		.js & {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
		}

		&.is-initialized {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			transition: opacity 10s ease-in-out;

			img {
				opacity: 0;
			}
		}
		&.is-active {
			opacity: 1;
		}
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}
}
