.mod_slideshow {

	.prev,
	.next {
		color: $colorOpulentCherry; // for anything smaller than a tablet

		@include mq($from: small, $to: medium) { // for tablets
			color: $colorGoldilocks;
		}

		@include mq($from: medium) { // for anything bigger than a tablet
			color: $colorWhatWillHappen;
		}
	}

	&.is_activated {

		.slide {
			display: none;
		}
	}
}
