<!doctype html>
<!--[if IE 7]>         <html class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#if title}}{{title}} – {{/if}}{{project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/styleguide/assets/css/main.css">

	<script src="/assets/js/head.js"></script>
</head>
<body>
	{{#block "content"}}
	{{/block}}

	<pre class="sg_code">{{code}}</pre>

	<script src="/assets/js/main.js"></script>
	{{#if runTests}}
		<!-- DO NOT COPY -->
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>
		<script src="/test/assets/vendor/qunit/qunit/qunit.js"></script>
		{{#each testScripts}}
			<script src="/{{this}}"></script>
		{{/each}}
		<script>
			;(function($) {
				$('<link/>', {
					rel: 'stylesheet',
					type: 'text/css',
					href: '/test/assets/vendor/qunit/qunit/qunit.css'
				}).appendTo('head');
			})(jQuery);
		</script>
		<!-- //DO NOT COPY -->
	{{/if}}
</body>
</html>
