<!-- DO NOT COPY -->
	<div class="sg_tests">
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>

		<script src="/preview/assets/js/test{{#unless env.dev}}.min{{/unless}}.js"></script>

		{{#each meta.testScripts}}
			<script src="{{this}}"></script>
		{{/each}}
	</div>
<!-- //DO NOT COPY -->
