<!-- DO NOT COPY -->
	<div class="sg_tests">
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>

		<script src="/test/node_modules/qunitjs/qunit/qunit.js"></script>
		<script>QUnit.config.autostart = false;</script>

		{% for script in meta.testScripts %}
			<script src="{{script}}"></script>
		{% endfor %}

		<script>
			;(function($) {
				'use strict';

				var $container = $('#qunit'),
					$button = $('<button>Run QUnit tests</button>'),
					startTests = function() {
						$container.show();

						$('<link/>', {
							rel: 'stylesheet',
							href: '/test/node_modules/qunitjs/qunit/qunit.css'
						}).appendTo('head');

						$button.remove();

						QUnit.start();
					};

				if ($.isEmptyObject(QUnit.urlParams)) {
					$container.hide();

					$button
						.insertAfter($container)
						.on('click', function() {
							startTests();
						});
				} else {
					startTests();
				}
			})(jQuery);
		</script>
	</div>
<!-- //DO NOT COPY -->
