@charset "UTF-8";
/**
 * Default variables
 */
/**
 * Custom colors
 */
/**
 * Colors imported from ColorSchemer export
 */
/**
 * Helper functions
 */
/**
 * Hide visually
 *
 * See http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * for discussion of different solutions
 */
/**
 * Contain floats with clearfix
 *
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Lists with layout purpose
 */
/**
 * Replace text
 */
/**
 * Better font rendering (on OS X)
 * http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *
 * Usage:
 *
 * .var_dark_on_light {
 * 	@include fontSmoothing;
 * }
 * .var_light_on_dark {
 * 	@include fontSmoothingReset;
 * }
 */
/**
 * Placeholder in input fields
 */
/**
 * Inspired from https://github.com/guardian/sass-mq.git
 */
/**
 * // To enable support for browsers that do not support @media queries,
 * (IE <= 8, Firefox <= 3, Opera <= 9) set $mqResponsive to false
 * Create a separate stylesheet served exclusively to these browsers,
 * meaning @media queries will be rasterized, relying on the cascade itself
 */
/**
 * Name your breakpoints in a way that creates a ubiquitous language
 * across team members. It will improve communication between
 * stakeholders, designers, developers, and testers.
 */
/**
 * Define the breakpoint from the $mqBreakpoints list that should
 * be used as the target width when outputting a static stylesheet
 * (i.e. when $mqResponsive is set to 'false').
 */
/**
 * If you want to display the currently active breakpoint in the top
 * right corner of your site during development, add the breakpoints
 * to this list, ordered by width, e.g. (mobile, tablet, desktop).
 */
/**
 * Media Query mixin
 * Usage:
 * .element {
 *     @include mq($from: mobile) {
 *         color: red;
 *     }
 *     @include mq($to: tablet) {
 *         color: blue;
 *     }
 *     @include mq(mobile, tablet) {
 *         color: green;
 *     }
 *     @include mq($from: tablet, $and: '(orientation: landscape)') {
 *         color: teal;
 *     }
 *     @include mq(950px) {
 *         color: hotpink;
 *     }
 * }
 */
/**
 * Add a breakpoint
 * Usage: $mqBreakpoints: mqAddBreakpoint(tvscreen, 1920px);
 */
/**
 * Create JSON string of map of breakpoints
 */
/**
 * Create JSON string of single breakpoint
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Custom web fonts
 */
@font-face {
  font-family: "Icons";
  src: url("../fonts/icons/Icons.eot");
  src: url("../fonts/icons/Icons.eot?#iefix") format("eot"), url("../fonts/icons/Icons.woff") format("woff"), url("../fonts/icons/Icons.ttf") format("truetype"), url("../fonts/icons/Icons.svg#Icons") format("svg"); }

/**
 * Map containing all icons with their unicode character
 *
 * Can be accessed using map-get (see iconStyles mixin)
 */
/**
 * Mixins
 *
 * icon() renders an icon into the :before pseudo element
 *
 * iconStyles() renders the main styles
 * It is used by icon
 *
 * iconDefaultStyles() renders the basic styles
 * They are separated to allow for the use in a placeholder to reduce code duplication
 */
/**
 * Class for each icon
 * Placeholder for default styles to reduce code duplication
 *
 * Used in styleguide, e.g.
 */
.icon_twitter:before, .icon_email:before, .icon_facebook:before, .icon_gplus:before, .icon_pinterest:before {
  display: inline-block;
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1; }

.icon_twitter:before {
  content: ""; }

.icon_email:before {
  content: ""; }

.icon_facebook:before {
  content: ""; }

.icon_gplus:before {
  content: ""; }

.icon_pinterest:before {
  content: ""; }

/**
 * Map containing all icons with their dimensions and color variants
 *
 * Can be accessed using map-get (see iconDataurlStyles( mixin)
 */
/**
 * Mixins
 *
 * iconDataurl() renders an icon into the :before/:after pseudo element
 *
 * iconDataurlStyles() renders the main styles
 * It is used by iconDataurl()
 */
/**
 * Map containing all sprite images with their dimensions and position
 *
 * Can be accessed using map-get (see pngspriteStyles mixin)
 */
/**
 * Sync breakpoints with JavaScript
 *
 * font-family property of title element contains the current breakpoint
 * font-family property of head element contains all breakpoints
 */
@media all and (min-width: 0em) {
  title {
    font-family: '{\\"name\\":\\"tiny\\",\\"value\\":\\"0px\\"}'; } }

@media all and (min-width: 41.3125em) {
  title {
    font-family: '{\\"name\\":\\"small\\",\\"value\\":\\"661px\\"}'; } }

@media all and (min-width: 64.0625em) {
  title {
    font-family: '{\\"name\\":\\"medium\\",\\"value\\":\\"1025px\\"}'; } }

@media all and (min-width: 80.0625em) {
  title {
    font-family: '{\\"name\\":\\"large\\",\\"value\\":\\"1281px\\"}'; } }

head {
  font-family: '{"small":"661px","medium":"1025px","large":"1281px"}';
  display: none; }

/**
 * Generic classes
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

body {
  background: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 75%;
  line-height: 1.5; }

nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.layout_wrapper {
  margin: 0 auto;
  width: 80em; }

.layout_columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .no-flexbox.no-flexboxlegacy.no-flexboxtweener .layout_columns {
    *zoom: 1; }
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .layout_columns:before,
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .layout_columns:after {
      content: " ";
      display: table; }
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .layout_columns:after {
      clear: both; }

.layout_main {
  width: 75%; }
  .no-flexbox.no-flexboxlegacy.no-flexboxtweener .layout_main {
    float: left; }

.layout_sidebar {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .no-flexbox.no-flexboxlegacy.no-flexboxtweener .layout_sidebar {
    float: right;
    width: 25%; }

.mod_media .iconfont:before {
  display: inline-block;
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  content: ""; }

.mod_media .iconfont:before {
  font-size: 10em; }

.mod_media .iconfont:hover,
.mod_media .iconfont:focus,
.mod_media .iconfont:active {
  color: #a4c400; }

.mod_media .dataurl:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTIgMTIyIiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjkyIiBoZWlnaHQ9IjEyMiI+PHBhdGggZD0iTTIgMTAuMTMzdjgwLjkwNGMuODIgOC41OC0uNDM0IDI1LjcxMyAyNC4zMTcgMjkuMjE2bDU5LjY4Ni43NDdjNS4wNDMtNC43NDQgNS4xMjgtOS40ODggNS4xNTgtMTQuMjMyLS40OC02LjQ1My0xLjIxNy0xMi42OTQtNS44OTQtMTUuNzMzbC00OC42MzMtLjc0N0MyOC43MzYgODguNjk2IDI1Ljc5NiA4NC44NjMgMjUuNTggNzkuOFY1OS41NzVsNjAuNTIuNjE2YzMuNTY2LTQuNzQgNi40OS04LjM3NSA1Ljc5OC0xNC44NS0uMzczLTkuODUyLTIuOTk2LTEyLjg0LTUuODk1LTE0Ljk4MmwtNTguOTUtLjc0Ny0uNzM2LTE5LjQ3NmMtMi4wMi0zLjU2My0yLjgwNC03Ljg3OC04Ljg0My04Ljk5QzkuODc4LjE3NSA1LjM0IDQuMTgyIDIgMTAuMTM1di0uMDAyeiIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: contain;
  height: 10.16667em;
  width: 7.66667em;
  content: "";
  display: inline-block; }
  .no-svg .mod_media .dataurl:before {
    background-image: url("../media/icons/twitter--primary.png"); }

.mod_media .dataurl:hover,
.mod_media .dataurl:focus,
.mod_media .dataurl:active {
  color: #a4c400; }
  .mod_media .dataurl:hover:before,
  .mod_media .dataurl:focus:before,
  .mod_media .dataurl:active:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTIgMTIyIiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjkyIiBoZWlnaHQ9IjEyMiI+PHBhdGggZD0iTTIgMTAuMTMzdjgwLjkwNGMuODIgOC41OC0uNDM0IDI1LjcxMyAyNC4zMTcgMjkuMjE2bDU5LjY4Ni43NDdjNS4wNDMtNC43NDQgNS4xMjgtOS40ODggNS4xNTgtMTQuMjMyLS40OC02LjQ1My0xLjIxNy0xMi42OTQtNS44OTQtMTUuNzMzbC00OC42MzMtLjc0N0MyOC43MzYgODguNjk2IDI1Ljc5NiA4NC44NjMgMjUuNTggNzkuOFY1OS41NzVsNjAuNTIuNjE2YzMuNTY2LTQuNzQgNi40OS04LjM3NSA1Ljc5OC0xNC44NS0uMzczLTkuODUyLTIuOTk2LTEyLjg0LTUuODk1LTE0Ljk4MmwtNTguOTUtLjc0Ny0uNzM2LTE5LjQ3NmMtMi4wMi0zLjU2My0yLjgwNC03Ljg3OC04Ljg0My04Ljk5QzkuODc4LjE3NSA1LjM0IDQuMTgyIDIgMTAuMTM1di0uMDAyeiIgZmlsbD0iI0E0QzQwMCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: contain; }
    .no-svg .mod_media .dataurl:hover:before,
    .no-svg .mod_media .dataurl:focus:before,
    .no-svg .mod_media .dataurl:active:before {
      background-image: url("../media/icons/twitter--active.png"); }

.mod_media .pngsprite:before {
  background-image: url("../media/sprite.png");
  background-position: 0px 0px;
  height: 120px;
  width: 90px;
  content: "";
  display: inline-block; }

.mod_media .pngsprite:hover,
.mod_media .pngsprite:focus,
.mod_media .pngsprite:active {
  color: #a4c400; }
  .mod_media .pngsprite:hover:before,
  .mod_media .pngsprite:focus:before,
  .mod_media .pngsprite:active:before {
    background-image: url("../media/sprite.png");
    background-position: -90px 0px; }

.mod_teaser {
  padding: 0.2em 1em; }
  .mod_teaser.var_inverted {
    background: black;
    color: white; }

.mod_teasers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .no-flexbox.no-flexboxlegacy.no-flexboxtweener .mod_teasers {
    *zoom: 1; }
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .mod_teasers:before,
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .mod_teasers:after {
      content: " ";
      display: table; }
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .mod_teasers:after {
      clear: both; }
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .mod_teasers .mod_teaser {
      float: left;
      width: 25%; }

.mod_skiplinks ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.mod_skiplinks a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .mod_skiplinks a:focus,
  .mod_skiplinks a:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.mod_slideshow .slide {
  height: 0;
  overflow: hidden;
  padding-bottom: 33.3333333%;
  position: relative; }
  .mod_slideshow .slide img {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.mod_slideshow .nav {
  *zoom: 1;
  margin-top: 1em; }
  .mod_slideshow .nav:before,
  .mod_slideshow .nav:after {
    content: " ";
    display: table; }
  .mod_slideshow .nav:after {
    clear: both; }

.mod_slideshow .prev,
.mod_slideshow .next {
  color: #f00e48;
  float: left; }
  @media all and (min-width: 41.3125em) and (max-width: 64.0525em) {
    .mod_slideshow .prev,
    .mod_slideshow .next {
      color: #ffb42d; } }
  @media all and (min-width: 64.0625em) {
    .mod_slideshow .prev,
    .mod_slideshow .next {
      color: #628277; } }

.mod_slideshow .next {
  float: right; }

.js .mod_slideshow .slide + .slide {
  display: none; }

.mod_tabs {
  /*
	 * Configuration
	 */
  /*
	 * Functionality
	 */
  /*
	 * Variations
	 */
  /*
	 * Styling
	 */
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 800px; }
  .mod_tabs .tab_trigger {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .mod_tabs .tab_content {
    display: none; }
  .mod_tabs .tab_trigger:nth-child(10):checked ~ .panels > .tab_content:nth-child(10) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(10):checked ~ .labels > label:nth-child(10) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(10):focus ~ .labels > label:nth-child(10) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(10):hover ~ .labels > label:nth-child(10) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(9):checked ~ .panels > .tab_content:nth-child(9) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(9):checked ~ .labels > label:nth-child(9) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(9):focus ~ .labels > label:nth-child(9) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(9):hover ~ .labels > label:nth-child(9) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(8):checked ~ .panels > .tab_content:nth-child(8) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(8):checked ~ .labels > label:nth-child(8) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(8):focus ~ .labels > label:nth-child(8) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(8):hover ~ .labels > label:nth-child(8) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(7):checked ~ .panels > .tab_content:nth-child(7) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(7):checked ~ .labels > label:nth-child(7) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(7):focus ~ .labels > label:nth-child(7) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(7):hover ~ .labels > label:nth-child(7) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(6):checked ~ .panels > .tab_content:nth-child(6) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(6):checked ~ .labels > label:nth-child(6) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(6):focus ~ .labels > label:nth-child(6) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(6):hover ~ .labels > label:nth-child(6) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(5):checked ~ .panels > .tab_content:nth-child(5) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(5):checked ~ .labels > label:nth-child(5) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(5):focus ~ .labels > label:nth-child(5) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(5):hover ~ .labels > label:nth-child(5) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(4):checked ~ .panels > .tab_content:nth-child(4) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(4):checked ~ .labels > label:nth-child(4) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(4):focus ~ .labels > label:nth-child(4) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(4):hover ~ .labels > label:nth-child(4) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(3):checked ~ .panels > .tab_content:nth-child(3) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(3):checked ~ .labels > label:nth-child(3) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(3):focus ~ .labels > label:nth-child(3) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(3):hover ~ .labels > label:nth-child(3) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(2):checked ~ .panels > .tab_content:nth-child(2) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(2):checked ~ .labels > label:nth-child(2) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(2):focus ~ .labels > label:nth-child(2) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(2):hover ~ .labels > label:nth-child(2) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(1):checked ~ .panels > .tab_content:nth-child(1) {
    display: block; }
  .mod_tabs .tab_trigger:nth-child(1):checked ~ .labels > label:nth-child(1) {
    background-color: rgba(0, 255, 0, 0.2); }
  .mod_tabs .tab_trigger:nth-child(1):focus ~ .labels > label:nth-child(1) {
    background-color: rgba(128, 0, 255, 0.2); }
  .mod_tabs .tab_trigger:nth-child(1):hover ~ .labels > label:nth-child(1) {
    background-color: rgba(0, 128, 255, 0.2); }
  .mod_tabs.var_centered .labels {
    text-align: center; }
  .mod_tabs.var_expanded .labels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around; }
  .mod_tabs.var_expanded .labels label {
    /* width: 100%; */
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .mod_tabs.var_animated {
    /*
		 * It is not possible to make a transition out from the tab to be hidden
		 * because then the contents of the 2 tabs are shown at the same time
		 * and they show 1 above the other, because we want to avoid position: absolute;
		 * which would force us to recalculate the height with JS :(, something to be avoided
		 */ }
    .mod_tabs.var_animated .panels {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: no-wrap;
          -ms-flex-wrap: no-wrap;
              flex-wrap: no-wrap; }
    .mod_tabs.var_animated .tab_content {
      display: block;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: visibility 0s cubic-bezier(0.42, 0.44, 0.08, 1.49) 0.5s, opacity 0.5s cubic-bezier(0.42, 0.44, 0.08, 1.49);
              transition: visibility 0s cubic-bezier(0.42, 0.44, 0.08, 1.49) 0.5s, opacity 0.5s cubic-bezier(0.42, 0.44, 0.08, 1.49);
      /*flex $transitionDuration $transitionTiming*/
      -webkit-flex-basis: 0;
          -ms-flex-preferred-size: 0;
              flex-basis: 0;
      padding: 0;
      overflow: hidden; }
    .mod_tabs.var_animated .tab_trigger:nth-child(10):checked ~ .panels > .tab_content:nth-child(10) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(9):checked ~ .panels > .tab_content:nth-child(9) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(8):checked ~ .panels > .tab_content:nth-child(8) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(7):checked ~ .panels > .tab_content:nth-child(7) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(6):checked ~ .panels > .tab_content:nth-child(6) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(5):checked ~ .panels > .tab_content:nth-child(5) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(4):checked ~ .panels > .tab_content:nth-child(4) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(3):checked ~ .panels > .tab_content:nth-child(3) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(2):checked ~ .panels > .tab_content:nth-child(2) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
    .mod_tabs.var_animated .tab_trigger:nth-child(1):checked ~ .panels > .tab_content:nth-child(1) {
      display: block;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding: 1em; }
  .mod_tabs .labels > label {
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 0.5em 1em;
    margin-bottom: 0.5em; }
  .mod_tabs .tab_content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    box-sizing: border-box; }

.mod_notification {
  position: fixed;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  *zoom: 1;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }
  .mod_notification:before,
  .mod_notification:after {
    content: " ";
    display: table; }
  .mod_notification:after {
    clear: both; }
  .mod_notification .message {
    color: white;
    padding: 0 0.83333rem;
    opacity: 0;
    -webkit-transition: padding ease-in-out 0.3s, opacity ease-in-out 0.3s;
            transition: padding ease-in-out 0.3s, opacity ease-in-out 0.3s; }
    .mod_notification .message.is_info {
      background: blue; }
    .mod_notification .message.is_success {
      background: green; }
    .mod_notification .message.is_error {
      background: red; }
    .mod_notification .message.is_expanded {
      opacity: 1;
      padding: 0.83333rem; }
  .mod_notification .close_button {
    float: right;
    cursor: pointer; }
  .mod_notification p {
    padding: 0;
    margin: 0; }

.mod_socialwidget .link.var_facebook:before {
  display: inline-block;
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  content: ""; }

.mod_socialwidget .link.var_googleplus:before {
  display: inline-block;
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  content: ""; }

.mod_socialwidget .link.var_twitter:before {
  display: inline-block;
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  content: ""; }

.mod_socialwidget .link.var_pinterest:before {
  display: inline-block;
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  content: ""; }

.mod_socialwidget .link.var_mail:before {
  display: inline-block;
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  content: ""; }

.mod_cookieconfirmation {
  display: none;
  border: 2px solid black;
  padding: 1rem 2rem; }
  .mod_cookieconfirmation.is_visible {
    display: block; }

/*# sourceMappingURL=../../assets/css/main.css.map */