.mod_notification {
	$colorText: white;
	$colorBgInfo: blue;
	$colorBgSuccess: green;
	$colorBgError: red;

	$sizePadding: 10px;

	$transitionDuration: 0.3s;
	$transitionTimingFunction: ease-in-out;

	position: fixed;
	max-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	@include clearfix;

	-webkit-overflow-scrolling: touch;
	overflow: auto;

	.message {
		color: $colorText;
		padding: 0 pxToRem($sizePadding);
		opacity: 0;
		transition: padding $transitionTimingFunction $transitionDuration, opacity $transitionTimingFunction $transitionDuration;

		&.is_info {
			background: $colorBgInfo;
		}
		&.is_success {
			background: $colorBgSuccess;
		}
		&.is_error {
			background: $colorBgError;
		}

		&.is_expanded {
			opacity: 1;
			padding: pxToRem($sizePadding);
		}
	}

	.close_button {
		float: right;
		cursor: pointer;
	}

	p {
		padding: 0;
		margin: 0;
	}
}
