{{#extend "layouts/layout"}}
	{{#content "header"}}
		<script>
			// Global content data, will be extended by data-slideshow-data
			estatico.helpers.extend(estatico.data, {
				slideshow: {
					i18n: {
						prev: 'Previous',
						next: 'Next'
					}
				}
			});

			// Global configuration data, will be extended by data-slideshow-options
			estatico.helpers.extend(estatico.options, {
				slideshow: {
					animationDuration: 200,
					url: '/mocks/demo/modules/slideshow/slideshow.json?delay=500'
				}
			});
		</script>

		{{> "demo/modules/skiplinks/skiplinks" modules.skiplinks}}
	{{/content}}

	{{#content "content"}}
		<h2>{{title}}</h2>

		<p>{{text}}</p>

		<hr>

		{{> "demo/modules/slideshow/slideshow" modules.slideshow}}
	{{/content}}
{{/extend}}
