<div class="mod_media">
	<h3>Icon font</h3>
	<span class="iconfont">Icon</span>

	<h3>Data URL</h3>
	<span class="dataurl">Icon</span>

	<h3>PNG sprite</h3>
	<span class="pngsprite">Icon</span>
</div>
