<div class="mod_skiplinks">
	<ul>
		{{#each links}}
			<li>
				<a href="{{this.href}}" accesskey="{{this.accesskey}}" title="{{this.title}}">
					{{this.label}}
				</a>
			</li>
		{{/each}}
	</ul>
</div>
