.mod_svgsprite {
	padding: 0 50px;

	&_list {
		@include resetList;
	}

	&_list_item {
		@include clearfix;
	}

	&_icon {
		width: 32px;
		height: 32px;
		padding: 0;
		opacity: 0;
		fill: $colorClearChill;
		transition: fill 1s ease;

		&:hover {
			fill: $colorLambentLagoon;
		}

		.svgSpritesLoaded & {
			opacity: 1;
		}
	}
}
