{{#each preview}}
	<div class="mod_svgsprite">
		<h3 class="title">Sprite Name: {{@key}}</h3>
		<ul class="list">
			{{#each this}}
			<li class="item">
				<svg class="icon var_{{this}}">
					<use xlink:href="#{{this}}" />
				</svg>
				<span>
					{{this}}
				</span>
			</li>
			{{/each}}
		</ul>
	</div>
{{/each}}
