@import "../.tmp/colors";
@import "globals/variables";
@import "globals/functions";
@import "globals/mixins";
@import "globals/mediaqueries";

@import "../../../node_modules/highlight.js/styles/github";



// Preview: defaults
// ----------------------------------------------------------------------------------------------------

// Lesson learned, OrT: browsers decided to reduce font size from 16px to 13px when the font applied is the fallbacked monospace.
// Solution: declare monospace and then give it another fallback.
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$sg_font: monospace, serif;

$sg_breakpoint: 941px;
$sg_marginsBoxed: 20px;
$sg_maxWidth: 900px;

// Colors
$sg_colorWhite: #fff;
$sg_colorLightGray: #eaeaea;
$sg_colorGray: #999;
$sg_colorBlack: #000;
$sg_colorUnicGreen: #a4c400;
$sg_colorWarning: #c30;
$sg_colorLightBlue: #5876a3;

// Transitions
$sg_defaultTransitionProperty: all;
$sg_defaultTransitionDuration: 0.2s;
$sg_defaultTransitionTimingFunction: ease-in-out;
$sg_defaultTransitionDelay: 0s;
$sg_defaultTransition: $sg_defaultTransitionProperty $sg_defaultTransitionDuration $sg_defaultTransitionTimingFunction $sg_defaultTransitionDelay;

// Sizes
$sg_sizeIconsFooter: 30px;
$sg_sizeHeightFooter: 0;



// Preview: mixins
// ----------------------------------------------------------------------------------------------------

@mixin sgBoxedMargins {
	margin-left: $sg_marginsBoxed;
	margin-right: $sg_marginsBoxed;
}

@mixin sgBoxed {
	max-width: $sg_maxWidth;
	@include sgBoxedMargins;

	@include mq($from: $sg_breakpoint) {
		margin-left: auto;
		margin-right: auto;
	}
}



// Preview: generic styles
// ----------------------------------------------------------------------------------------------------

/**
 * Layout
 */

.sg {
	@include mq($from: small) {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		&__tree {
			position: fixed;
			top: 0;
			bottom: $sg_sizeHeightFooter;
			left: 0;
			width: 25%;
			overflow-x: hidden;
			overflow-y: auto;
		}

		&__preview {
			flex: 1 1 auto;
			margin-left: 25%;
		}
	}

	&__module_wrapper {
		border: 1px solid red;
		box-sizing: border-box;
		width: 100%;
		height: 100%;

		&--is_hidden {

		}
	}
}

/**
 * Look & Feel
 */

.sg {
	&__title {
		font-size: 18px;
		color: inherit;
		margin: 0;
		padding: 10px 0;
		border-bottom: 3px solid;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	&__tree {
		font-family: $sg_font;

		a {
			display: inline-block;
			padding: 0.4em 0;
			color: $sg_colorGray;
			text-decoration: none;
			line-height: 1.3;

			&:hover {
				color: $sg_colorBlack;
				text-decoration: none;
			}
		}

		@include mq($from: small) {
			border-right: 1px solid rgba(83, 83, 99, 0.25);
		}
	}

	&__footer{
		padding: 16px;
		background-color: #fafbfc;
		color: $sg_colorLightBlue;
		font-size: 14px;

		p {
			margin-top: 0;
		}

		@include mq($from: small) {
			display: flex;
			flex-direction: row;
			align-items: center;

			p {
				flex-grow: 1;
				margin-bottom: 0;
			}
		}
	}

	&__sociallist {
		@include resetList;
		@include clearfix;
		display: flex;
		justify-content: flex-end;

		&__item {
			display: block;
			box-sizing: border-box;
			margin-right: 12px;

			width: $sg_sizeIconsFooter;
			height: $sg_sizeIconsFooter;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__iconlink {
		display: flex;
		align-items: baseline;
		text-decoration: none;

		border-radius: 100%;
		background: $sg_colorGray;
		color: $sg_colorWhite; // IE8
		fill: $sg_colorWhite;

		&--icon-only {
			.sg__iconlink__title {
				@include visuallyhidden;
			}
		}
	}

	svg path {
		fill: inherit;
	}

	&__svgicon {
		width: 100%;
		height: 100%;
		flex: 0 0 auto;
		padding: 0;
	}

	&__collapsible {
		&_title {
			font-weight: 600;
			font-size: 16px;
		}

		&_content {
			@include resetList;
			padding-left: 16px;
		}
	}
}





.sg_warning {
	border: 1px solid $sg_colorWarning;
	color: $sg_colorWarning;
	padding: 1em;
}



// Preview: modules
// ----------------------------------------------------------------------------------------------------

.sg_tabs {
	$numTabs: 5;
	$bgcolorActive: $sg_colorLightGray;

	/*
	 * Functionality
	 */
	.tab_trigger {
		@include visuallyhidden;
	}
	.tab_content {
		display: none;
	}

	$i: $numTabs;
	@while $i > 0 {
		.tab_trigger:nth-child(#{$i}):checked ~ .panels > .tab_content:nth-child(#{$i}) {
			display: block;
		}
		.tab_trigger:nth-child(#{$i}):checked ~ .labels > label:nth-child(#{$i}) {
			background-color: $bgcolorActive;
			font-weight: bold;
		}
		/*.tab_trigger:nth-child(#{$i}):focus ~ .labels > label:nth-child(#{$i}) {
			background-color: $bgcolorFocus;
		}
		.tab_trigger:nth-child(#{$i}):hover ~ .labels > label:nth-child(#{$i}) {
			background-color: $bgcolorHover;
		}*/
		$i: $i - 1;
	}

	.labels {
		@include clearfix;
		@include sgBoxed;
		border-bottom: 1px solid $sg_colorLightGray;
		border-top: 1px solid $sg_colorLightGray;
		& > label {
			//border-radius: 4px 4px 0 0;
			display: inline-block;
			padding: 8px 18px;
		}
	}
}

.hljs {
	background-color: $sg_colorLightGray;
}



// Preview: commons
// ----------------------------------------------------------------------------------------------------

.sg__wrapper {
	.sg_colors &,
	.sg_elements &,
	.sg_fonts &,
	.sg_forms &,
	.sg_icons &,
	.sg_module & {
		@include clearfix;
		margin-bottom: 70px;
	}

	.sg_colors &,
	.sg_elements &,
	.sg_fonts &,
	.sg_forms &,
	.sg_icons & {
		@include sgBoxed;
	}
}

.sg__title {
	.sg_colors &,
	.sg_elements &,
	.sg_fonts &,
	.sg_forms &,
	.sg_icons &,
	.sg_module & {
		@include sgBoxed;
	}
}

.sg_demo {
	@include clearfix;
}

.sg_documentation {

	th {
		border-bottom: 1px solid $sg_colorLightGray;
		text-align: left;
	}
	th,
	td {
		border-left: 1px solid $sg_colorLightGray;
		padding: 0.2em 0.5em;

		&:first-child {
			border-left: none;
			padding-left: 0;
		}
	}

	code {
		background: $sg_colorLightGray;
		color: #666;
		padding: 0 0.2em;
	}

	pre {

		code {
			display: block;
			padding: 0.5em;
		}
	}
}



// Preview: Index page
// ----------------------------------------------------------------------------------------------------

// Lists on index page
.sg_index_list {
	margin-bottom: 0;
	padding: 0;
}



// Preview: Modules page
// ----------------------------------------------------------------------------------------------------

.sg_module {
	.sg__collapsible_title,
	.sg_h3,
	.sg_h4 {
		margin-top: 2em;
	}

	.sg__wrapper {
		&:nth-of-type(even) {
			margin-bottom: 1em;
			padding-bottom: 36px;
			background-color: $sg_colorLightGray;
		}
	}

	// Remove clearfix in before to avoid big space from non-collapsed margins between h1 and h2
	.sg__wrapper:first-of-type:before {
		display: none;
	}
}



// Preview: Icons page
// ----------------------------------------------------------------------------------------------------
.sg_icons_label,
.sg_icons_icon {
	display: table-cell;
	border-top: 1px solid $sg_colorLightGray;
	border-left: 1px solid $sg_colorLightGray;
	vertical-align: top;
	padding: 0.5em;
}

.sg_icons_icon {
	width: 20%;
}
.sg_icons_icon:last-of-type {
	border-right: 1px solid $sg_colorLightGray;
}

.sg_icons_list {
	display: table;
	width: 100%;

	border-bottom: 1px solid $sg_colorLightGray;

	.sg_icons_item {
		display: table-row;
	}
}


// Preview: Colors page
// ----------------------------------------------------------------------------------------------------

.sg_color_list {
	@include clearfix;
	@include resetList;

	margin: 0 -10;
}

.sg_color_item {
	font-size: 14px;
	padding: 15px 10px 20px;
	width: ($sg_maxWidth/6);
	float: left;
	text-align: center;
	box-sizing: border-box;

	&:hover {

		.sg_color_preview {
			transform: scale(1.25);
			box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
		}
	}
}

.sg_color_preview {
	width: 7.5em;
	height: 7.5em;
	margin: 0 auto;
	// border: 1px solid $sg_colorLightGray;
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px rgba(0,0,0,.025);

	transition: $sg_defaultTransition;
}

.sg_color_name {
	padding-top: 0.8em;
	font-weight: bold;
}

.sg_color_value {
}


// Preview: Fonts page
// ----------------------------------------------------------------------------------------------------

.sg_subsection {
	border-bottom: 2px solid $sg_colorBlack;
	padding: 1em 0;
	position: relative;
}
