{{#extend "preview/layouts/layout"}}
	{{#content "content"}}
		<h2 class="sg__title sg__title--module">
			<a href="/">{{meta.project}}</a>{{#if meta.title}} / {{meta.title}}{{/if}}
		</h2>

		<div class="sg__styleguide">
			{{{meta.documentation}}}
		</div>
	{{/content}}
{{/extend}}
