{{#extend "preview/layouts/layout"}}
	{{#content "content"}}
		<div class="sg__home">
			<h1 class="sg__title">
				<a href="/">{{meta.project}}</a>{{#if meta.title}} / {{meta.title}}{{/if}}
			</h1>

			{{{meta.documentation}}}
		</div>
	{{/content}}
{{/extend}}
