.mod_slideshow {

	.slide {
		position: relative;
		overflow: hidden;
		height: 0;
		padding-bottom: 33.333%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.nav {
		@include clearfix;
		margin-top: 1em;
	}

	.prev,
	.next {
		background-color: $colorSoulSide; // for anything smaller than a tablet
		border: none;
		float: left;

		@include mq($from: small, $to: medium) { // for tablets
			background-color: $colorBondiBlue;
			color: $colorAlpineAlabaster;
		}

		@include mq($from: medium) { // for anything bigger than a tablet
			background-color: $colorGraspingGrass;
		}
	}

	.next {
		float: right;
	}

	.js & {

		.slide + .slide { // stylelint-disable-line selector-max-compound-selectors
			display: none;
		}
	}
}
