<div class="mod_slideshow" data-init="slideshow" data-slideshow-data='{"i18n":{"prev":"Previous Bill","next":"Next Bill"}}' data-slideshow-options='{"animationDuration":100}'>
	<div class="slides" data-slideshow="slides">
		{{#each slides}}
			{{> "demo/modules/slideshow/_slideshow_slide.js" this}}
		{{/each}}
	</div>
</div>
