<div class="mod_slideshow" data-init="slideshow" data-slideshow-data='{"i18n":{"prev":"Previous Bill","next":"Next Bill"}}' data-slideshow-options='{"animationDuration":100}'>
	<div class="slides" data-slideshow="slides">
		{% for slide in slides %}
			{% include "demo/modules/slideshow/_slideshow_slide.js.twig" with slide %}
		{% endfor %}
	</div>
</div>
