.sg_wrapper {

}

.sg_nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 10em;
}

.sg_main {
	margin-left: 10em;
	padding: 2em;
}



/* Icons */
.sg_icons_label,
.sg_icons_icon {
	display: table-cell;
}

.sg_icons {
	display: table;
}

.sg_icons_item {
	display: table-row;
}
